@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 100% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 100% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 207 90% 68%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 210 60% 92%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 60% 92%;
    --muted-foreground: 224 71.4% 4.1%;
    --accent: 174 45% 56%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 88%;
    --input: 210 40% 88%;
    --ring: 207 90% 68%;
    --chart-1: 207 90% 68%;
    --chart-2: 174 45% 56%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 210 100% 99%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 207 90% 68%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-accent: 210 60% 92%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 210 40% 88%;
    --sidebar-ring: 207 90% 68%;
  }
  .dark {
    --background: 222 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 90% 68%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 174 45% 56%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 207 90% 68%;
    --chart-1: 207 90% 68%;
    --chart-2: 174 45% 56%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 222 47.4% 11.2%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 90% 68%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 207 90% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
